@model IEnumerable<TournamentIndexViewModel>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    var tournaments = Model.ToList();
}

@if (!tournaments.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Добре дошли в Match^Point^Masters - само за тенис нинджи и ентусиасти!</h1>
        <p class="lead">
            В момента няма никакви турнири.
        </p>
    </div>
}
<h1 class ="text-center mt-4 mb-3">Виж най-новите събития и турнири!</h1>
<hr />
<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < tournaments.Count(); i++)
        {
            var tournament = tournaments[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <div class="image-overlay"></div>
                <h5 class="carousel-title">@tournament.Name</h5>
                <img class="d-block w-100" style="height:500px" src="@tournament.ImageUrl" alt="@tournament.Name">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="carousel-caption d-none d-md-block">
                        <a class="btn btn-primary btn-view-more" asp-controller="Tournament" asp-action="Details" asp-route-information="@tournament.GetInformation()" asp-route-id="@tournament.Id" class="btn btn-warning mb-1 w-100 p-3 fw-bold">Виж повече</a>
                    </div>
                }
                
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<style>
    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
        z-index: 1;
    }

    .carousel-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3em;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        z-index: 2;
    }

    .btn-view-more {
        position: relative;
        z-index: 3;
        margin-top: 20px;
        font-size: 1.5em; 
    }
</style>