@model SetDetailsViewModel

@{
    ViewBag.Title = "Преглед на текущ сет";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<!DOCTYPE html>
<html>
<head>
    <title>Set Details</title>
</head>
<body>
    <h1>Set Details</h1>

    <ul>
        <li>Match ID: @Model.MatchId</li>
        <li>Player One Games Won: @Model.PlayerOneGamesWon</li>
        <li>Player Two Games Won: @Model.PlayerTwoGamesWon</li>
        <li>Has Tiebreak: @(Model.HasTiebreak ? "Yes" : "No")</li>
    </ul>
</body>
</html>
