@model TiebreakAddViewModel

@{
    ViewBag.Title = "Добави нов тайбрек към сет";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="@Model.SetId" class="form-label-add-edit"><bold>Текущ сет</bold></label>
                <input asp-for="@Model.SetId" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.SetId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PlayerOnePoints" class="form-label-add-edit"><bold>Точки на Играч 1</bold></label>
                <textarea asp-for="@Model.PlayerOnePoints" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.PlayerOnePoints" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PlayerTwoPoints" class="form-label-add-edit"><bold>Точки на Играч 2</bold></label>
                <input asp-for="@Model.PlayerTwoPoints" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.PlayerTwoPoints" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-success mb-2 w-100 p-3 fw-bold" type="submit" value="Добави" />
                <a asp-action="All" class="btn btn-secondary mb-1 w-100 p-3 fw-bold">Обратно към Всички</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}