@model TiebreakDetailsViewModel
@inject ITournamentHostService tournamentHost

@{
    ViewBag.Title = "Резултат в тайбрек";
}
<h2 class="text-center mt-4 mb-3">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4>@Model.Id</h4>
            <p><strong>Точки на Играч 1:</strong> @Model.PlayerOnePoints</p>
            <p><strong>Точки на Играч 2:</strong> @Model.PlayerTwoPoints</p>
        </div>
    </div>

    @if (await tournamentHost.ExistsByUserIdAsync(User.Id()))
    {
        <hr />
        <div class="d-flex justify-content-center mt-1">
            <a asp-controller="Tiebreak" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mb-1 me-1 me-md-2 w-100 p-3 fw-bold">Редактирай</a>
            <a asp-controller="Tiebreak" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mb-1 me-1 me-md-2 w-100 p-3 fw-bold">Изтрий</a>
        </div>
    }
</div>