@model TournamentAddViewModel

@{
    ViewBag.Title = "Добави Турнир";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="AddTournament" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label-add-edit"><bold>Име на турнира</bold></label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.HostClubId">Host Club</label>
                <select asp-for="@Model.HostClubId" class="form-control">
                    @foreach (var club in Model.Clubs)
                    {
                        <option value="@club.Id">@club.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label-add-edit"><bold>Описание</bold></label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.StartDate" class="form-label-add-edit"><bold>Дата и Час на Започване</bold></label>
                <input asp-for="@Model.StartDate" class="form-control" aria-required="true" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.EndDate" class="form-label-add-edit"><bold>Дата и Час на Приключване</bold></label>
                <input asp-for="@Model.EndDate" class="form-control" aria-required="true" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Capacity" class="form-label-add-edit"><bold>Максимален брой участници</bold></label>
                <input asp-for="@Model.Capacity" class="form-control" />
                <span asp-validation-for="@Model.Capacity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Fee" class="form-label-add-edit"><bold>Такса за участие</bold></label>
                <input asp-for="@Model.Fee  " class="form-control" />
                <span asp-validation-for="@Model.Fee" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label-add-edit"><bold>Снимка (Линк)</bold></label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-success mb-2 w-100 p-3 fw-bold" type="submit" value="Добави" />
                <a asp-controller="Tournament" asp-action="All" class="btn btn-secondary mb-1 w-100 p-3 fw-bold">Обратно към Всички</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}