@model PlayerServiceModel
@inject UserManager<ApplicationUser> UserManager


<div class="playerProfileBody">
    <div id="wrapper">
        <div id="avatar">
            <img src="@Model.ImageUrl" alt="@UserManager.GetUserName(User)" class="playerImage">
        </div>
        <div class="user-info">
            <div id="main-info">
                <h1> @UserManager.GetUserName(User)<br />@Model.DominantHand.ToString()</h1>
                <a asp-area="" asp-controller="player" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">See more</a>
            </div>
        </div>
    </div>
</div>